.right {
    display: flex;
    flex-direction: column;
}

.right__top, .right__body {
    width: 50vw;
    display: flex;
    flex-direction: row;
    padding-left: 5vw;
}

.right__top {
    height: 12vh;
}

.right__body {
    height: 73vh;
}